<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="teamnote.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="Perspective"
            class="teamnote.Perspective"
            id="TeamNote.perspective">
      </perspective>
   </extension>
   
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu">
         <menu
               label="File">
            <command
                  commandId="org.eclipse.ui.file.exit"
                  label="Exit">
            </command>
         </menu>
      </menuContribution>
   </extension>
   
   <extension
         point="org.eclipse.ui.views">
      <view
            class="teamnote.views.NavigatorView"
            id="TeamNote.views.NavigatorView"
            name="Navigator">
      </view>
   </extension>
   
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="teamnote.editors.DocEditor"
            default="false"
            id="TeamNote.Editors.DocEditor"
            name="文本编辑器">
      </editor>
   </extension>
   
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertyContributor">
      <propertyContributor
            contributorId="teamnote.contributor">
          <propertyCategory category="sample"/>
      </propertyContributor>
   </extension>
   
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertyTabs">
      <propertyTabs
            contributorId="teamnote.contributor">
         <propertyTab
               category="sample"
               id="docContentTab"
               label="文档内容">
         </propertyTab>
         <propertyTab
         	   afterTab="docContentTab"
               category="sample"
               id="docPropertyTab"
               label="文档属性">
         </propertyTab>
         <propertyTab
               category="sample"
               id="menuPropertyTab"
               label="目录属性">
         </propertyTab>
      </propertyTabs>
   </extension>
   
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertySections">
      <propertySections
            contributorId="teamnote.contributor">
         <propertySection
               class="teamnote.section.docContentSection"
               filter="teamnote.properties.filters.docFilter"
               id="docContentSection"
               tab="docContentTab">
         </propertySection>
         <propertySection
               class="teamnote.section.docPropertySection"
               filter="teamnote.properties.filters.docFilter"
               id="docPropertySection"
               tab="docPropertyTab">
         </propertySection>
      </propertySections>
   </extension>
</plugin>
