<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="teamnote.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="Perspective"
            class="teamnote.Perspective"
            id="TeamNote.perspective">
      </perspective>
   </extension>
<!--   
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu">
         <menu
               label="File">
            <command
                  commandId="org.eclipse.ui.file.exit"
                  label="Exit">
            </command>
         </menu>
      </menuContribution>
   </extension>
 -->
   <extension
         point="org.eclipse.ui.views">
      <view
            class="teamnote.views.NavigatorView"
            icon="icons/Menu.png"
            id="TeamNote.views.NavigatorView"
            name="笔记管理">
      </view>
      <view
            class="teamnote.views.NavigatorView2"
            icon="icons/UserGroup.png"
            id="TeamNote.views.NavigatorView2"
            name="用户管理">
      </view>
   </extension>
   
   
   
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertyContributor">
      <propertyContributor
            contributorId="teamnote.contributor">
          <propertyCategory category="sample"/>
      </propertyContributor>
   </extension>
   
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertyTabs">
      <propertyTabs
            contributorId="teamnote.contributor">
         <propertyTab
               category="sample"
               id="docContentTab"
               label="笔记内容">
         </propertyTab>
         <propertyTab
         	   afterTab="docContentTab"
               category="sample"
               id="docPropertyTab"
               label="笔记属性">
         </propertyTab>
         <propertyTab
               category="sample"
               id="menuPropertyTab"
               label="目录属性">
         </propertyTab>
      </propertyTabs>
   </extension>
   
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertySections">
      <propertySections
            contributorId="teamnote.contributor">
         <propertySection
               class="teamnote.section.docContentSection"
               filter="teamnote.properties.filters.docFilter"
               id="docContentSection"
               tab="docContentTab">
         </propertySection>
         <propertySection
               class="teamnote.section.docPropertySection"
               filter="teamnote.properties.filters.docFilter"
               id="docPropertySection"
               tab="docPropertyTab">
         </propertySection>
      </propertySections>
   </extension>
   
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="teamnote.application"
            name="TeamNote">
         <property
               name="appName"
               value="TeamNote">
         </property>
         <property
               name="windowImages"
               value="icons/Doc.png">
         </property>
         
         <!--
         <property
               name="aboutImage"
               value="icons/about.gif">
         </property>
         <property
               name="aboutText"
               value="帮助信息：&#x0A;版本：1.0.0&#x0A;作者：sky&#x0A;发布日期：2012-06-14">
         </property>
         -->
         
      </product>
   </extension>
   <extension
         id="product1"
         point="org.eclipse.core.runtime.products">
      <product
            application="TeamNote.application"
            name="TeamNote">
         <property
               name="windowImages"
               value="icons/Doc.png">
         </property>
         <property
               name="appName"
               value="TeamNote">
         </property>
      </product>
   </extension>
</plugin>
